
html {
  height: 100%;
}

body {
  color: #0d2920;
  font-family: 'Montserrat', sans-serif;
}


/* full page background */

.full-page {
  background: url("../images/bookshelve.jpg") center center no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
}

.nav-wrapper{
    color: #757575 darken-1;
}