{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel contrastBG grey-text">                
                <h3 class="center-align grey-text text-darken-4">
                    {{ username|capitalize }}'s profile
                </h3>
            </div>
        </div>
    </div>

    <h3 class="center-align">My books:</h3>
    
    {% if books|length > 0 %}
    <div class="container wide-container">
        <div class="row">
            {% for book in books %}
            <div class="col s12 m6 l4 offset-m1">
                <div class="card large hoverable books">
                    <!-- Need to check with tutor support how to fix this -->
                    <div class="card-image books waves-effect waves-block waves-light">
                        <img class="activator" src="{{ books.image_url }}"
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Expand review details<i
                                class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="fa fa-times right"></i></span>
                        <h5>{{ books.book_title }}: by {{ books.author }}</h5>
                        category: {{ books.category }}<br>
                        <i class="fas fa-star"></i> Rating: {{ books.rating }} /5<br>
                        <p>
                            Review: <br>
                            {{ books.review }}
                        </p>
                        <p><em>by: {{ books.created_by }} </em></p>
                        <!-- Remove and Edit buttons -->
                        {% if session.user|lower == book.created_by|lower %}
                        <a href="#a{{ books._id }}" class="btn-small red accent-4 modal-trigger"><i class="fas fa-trash-alt left"></i>Delete</a>
                        <a href="{{ url_for('edit_book', books_id=books._id) }}"
                            class="btn-small light-blue accent-4"><i class="fas fa-edit left"></i>Edit</a>
                        
                        {% endif %}
                    </div>
                </div>
                <!-- Warning to Delete Modal -->
                <div id="a{{ books._id }}" class="modal">
                    <div class="modal-content">
                        <h4>Warning</h4>
                        <p>Are you sure you want to delete this review?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        <a href="{{ url_for('delete_book', books_id=books._id) }} "
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}    
    
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image">                       
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('add_review') }}"><i
                        class="material-icons fas fa-plus"></i></a>
                    </div>
                    <div class="card-content contrastBG">
                        <span class="grey-text center-align"> 
                            <h4 class="profile">Add first review!</h4> 
                        </span>                                                    
                    </div>
                </div>
            </div>
        </div>
    </div>   

    {% endif %}
        
</div>

{% endblock %}